<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>matcha</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link
      rel="stylesheet"z
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a href="http://localhost:3000/homepage" class="navbar-brand">matcha</a>
      <button
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navbarMenu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="http://localhost:3000/homepage"
              ><button
                type="button"
                class="btn btn-outline-primary"
                data-toggle="modal"
              >
                home
              </button></a
            >
            <a href="/updateProfile"
              ><button
                type="button"
                class="btn btn-outline-primary"
                data-toggle="modal"
                data-target="#loginModal"
              >
                update Profile
              </button></a
            >
            <a href="http://localhost:3000/logout"
              ><button
                type="button"
                class="btn btn-outline-primary"
                data-toggle="modal"
                data-target="#Modal"
              >
                logout
              </button></a
            >
          </li>
        </ul>
      </div>
    </nav>
 

    <%if(data){%>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-5-lg">
          <div class="card bg-dark">
            <img
              class="card-img-top"
              src="/user_images/<%=data.profileimage%>"
              width="400px"
              height="250px"
            />
            <form action="/API/getuser" method="POST">
            <div class="card-body  text-white">
              <p class="card-text">username: <%=data.username%></p>
              <p class="card-text">name: <%=data.name%> <%=data.lastname%></p>
              <p class="card-text">age: <%=data.age%></p>
              <p class="card-text">famerating: <%=data.famerating%></p>
              <p class="card-text">gender: <%=data.gender%></p>
              <p class="card-text">interests: <%=data.interests%></p> 
              <p class="card-text">city: <%=data.city%></p>
              <p class="card-text">country: <%=data.country%></p>
              <p class="card-text">biography: <%=data.biography%></p>
              <p class="card-text">status: <%=data.status%></p>
                <button  type="submit" href="#" class="btn btn-primary" name="like">like</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%}%>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
